.accordion-report-unicundi {
    background-color: #0a3938; 
    border-radius: 5px;
}

.report-mod-course {
    font-weight: 700; 
    color: #ffffff; 
    padding: 5px 0px 0px 26px; 
    font-size: 1.5em;
}

.accordion-content {
    padding: 13px 5px 5px;
}
.accordion-content-borderer {
    padding: 10px; 
    border-radius: 5px  !important;
}